:root{
    --mainColor:#4ab7ef;
    --lightColor:#ecf5fe;
    --darkColor:#2a323f;
}
@font-face{
    font-family: 'vazir';
    src: url('../Bootstrap_Theme/font/vazir.ttf')
}

body{
    font-family: 'vazir';
    box-sizing: border-box;
    direction: rtl;
    width: 100%;
}
*{
    font-family: 'vazir';
}
.hoverBtn,.hover2{
    width:190px;
    height:45px;
    border:none;
    font-size: 18px;
    transition: 0.5s;
    padding:10px;
}
.hover2:hover,.hoverBtn:hover{
    transform:translateY(-10px);
    box-shadow: 0px 3px 10px rgb(226, 244, 255);
}
.hoverBtn{
    border-radius: 30px;
    background-color: #ecf5fe;
    color:var(--mainColor);
    margin-top:20px;
}
.hoverBtn:hover{
    background-color: var(--mainColor);
    color:var(--lightColor)
}
.hover2{
    border-radius: 30px;
    background-color: var(--mainColor);
    color:var(--lightColor);
}
.hover2:hover{
    background-color: var(--lightColor);
    color:var(--mainColor);
}

/* navbar */

.navbar{
   width:100%;
   margin:0px 50px;
}
.navbar .navbar-brand{
    font-size: 30px;
}
.navbar .navbar-toggler img{
    width:35px;
    height:35px;
}
.navbar .nav-item .nav-link{
    font-size:19px;
    margin-left:20px;
}

/* header */

.header{
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 95%);    
    position: relative;
    width:100%;
    height: 100%;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header .overlay{
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 95%);    
    position: absolute;
    z-index:-1;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    background-color: var(--darkColor);
    opacity: 0.60;
    right:0;
}

.header .container{
    margin-right: 0;
    margin-left: 0;
}


/* Text */

.header .text{
    margin-top:150px;
}
.header h1,p{
    color:#fff !important;
}
.header p{
    margin-top:30px;
    line-height: 1.5;
    font-size: 17px;
}

/* Services */

.services{
    margin-top: 50px;
}
.services h1{
    font-size: 45px;
}
.services .row{
    text-align: center;
}
.services .img{
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:200px;
    padding:10px;
    background-color: var(--lightColor);
}

.services img{
    width:150px;
    height: 150px;
}
.services h2{
    margin-top:20px;
}
.services p{
    color:#878787 !important;
    line-height: 1.5;
    font-size: 17px;
    margin-top: 20px;
}
.services .icons{
    margin-top:-100px;
    width: 100%;
}

/* ‌Books */

.books{
    background-color: #f7f7f7;
    margin-top:150px;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}
.books .row{
    width: 100%;
}
.books h1{
    margin-top:110px;
}
.books .bookInfo{
    display: flex;
    width:400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 3px 30px rgba(0,0,0,0.1);
}
.books .info{
    background-color:#fff;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.books .info ul{
    display: flex;
    width:200px;
    height: 100%;
    margin-top:20px;
    
    align-items: baseline;
    flex-direction: column;
}
.books .info li{
    display: flex;
    align-items: baseline;
}
.books .info li p{
    color:#2a323f !important;
}
.books .info li label{
    font-weight: bold;
}

/* Footer */

.footer{
    background-color:#2a323f;
    width: 100%;
}
.footer h3{
    color:#f7f7f7;
}
.footer ul{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color:#878787;
    font-size: 18px;
    transition: 0.5s;
}
.footer ul li a:hover{
    color:#f7f7f7;
}
.footer ul li{
    margin-top:10px;
}
.footer .col-md-4{
    margin-top: 35px;
    width: 100%; 
}
.footer .row{
    width: 100%;
}
.footer .container .row .links,.footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .address{
    display: flex;
    margin-top:50px;
}
.footer .address .realAddress{
    display: flex;
    flex-direction: column;
    margin-right:15px;
}
.footer input{
    border:2px solid #3b4753;
    border-radius: 5px;
    color:#f7f7f7;
    background-color: transparent;
    height: 50px;
    font-size: 18px;
}
.footer button{
    width:90px;
    height: 50px;
    border-radius: 5px;
}
.footer .email p{
    margin-top:20px;
    color: #878787 !important;

}
